<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Arıza Oluştur</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <div padding style="background-color: #ffffff">
      <div *ngFor="let content of contents">
        <button ion-button block [disabled]="display < content.required" (click)="presentPopover($event, content)" color="gray" style="text-transform: none">{{content.choosed}}</button>
      </div>
      <ion-item text-center>İlgili Kişi</ion-item>
      <ion-list no-margin *ngFor="let person of persons">
        <ion-item>
          <ion-label>{{person.name}}</ion-label>
          <ion-checkbox [(ngModel)]="person.checked"></ion-checkbox>
        </ion-item>
      </ion-list>

      <div>
      <br><div>Arıza Açıklama</div><br>
      <ion-textarea [(ngModel)]="explanation" cols="50" rows="5" style="border:solid 2px gray; border-radius: 3px;"></ion-textarea><br>
      <div>Saha Ekibi Görüşü</div><br>
      <ion-textarea [(ngModel)]="sahaExplanation" cols="50" rows="5" style="border:solid 2px gray; border-radius: 3px;"></ion-textarea>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-checkbox [(ngModel)]="checked"></ion-checkbox>
          </ion-col>
          <ion-col col-6>
            <div text-right>Sorun Çözüldü</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <button ion-button block [disabled]="!saveable" (click)="save()" style="text-transform: none;">Kaydet</button>
      </div>
  </div>
</ion-content>
