page-detay {
	.right{
    float:right;
    font-family: Calibri;
    color: gray;
	}

	.left{
    float:left;
    font-family: Calibri;
	}

	.back{
	background-color: #ffffff;
	}

	.swipe-area {
    height:100%;
    width:100%;
  	}
}
