<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Arıza Detayı</ion-title>
    <ion-buttons end *ngIf="show == 'true'">
      <button ion-button icon-only (click)="openOnar()">
        <ion-icon name="build"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg" padding>
	<ion-segment [(ngModel)]="category" color="primary">
    	<ion-segment-button value="record">
      		Arıza Kaydı
    	</ion-segment-button>
    	<ion-segment-button value="info">
      		Onarım Bilgisi
    	</ion-segment-button>
  	</ion-segment><br>
  	<div [ngSwitch]="category" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)" class="swipe-area">
  		<ion-list class="back" *ngSwitchCase="'record'">
  			<ion-grid class="items" *ngFor="let element of map">
          <ion-row>
            <ion-col>
              <b>{{element.key}}</b>
            </ion-col>
            <ion-col text-right>
              {{element.value}}
            </ion-col>
          </ion-row>
  			</ion-grid>
  		</ion-list>
  		<ion-list class="back" *ngSwitchCase="'info'">
    		<ion-grid class="items" *ngFor="let element of map2">
          <ion-row>
            <ion-col>
              <b>{{element.key}}</b>
            </ion-col>
            <ion-col text-right>
              {{element.value}}
            </ion-col>
          </ion-row>
        </ion-grid>
  		</ion-list>
	  </div>
</ion-content>
