<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Mobil Arıza Takip Sistemi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="tb">
    <ion-list>
      <div *ngFor="let p of pages">
        <button class="tb" no-lines *ngIf="p.show == '1'" ion-item (click)="managePage(p)">
          <ion-grid no-padding>
            <ion-row>
              <ion-col>
                <ion-icon name="{{p.icon}}"></ion-icon>
              </ion-col>
              <ion-col col-10>
                {{p.title}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>