page-tamamlanan {
	.btn {
  	height: 60px;
  	text-transform: none;
  	font-size: 13px;
  	font-family: Calibri;
	}

	.bg {
  	background-color: #f2f2f2;
	}

	.fill {
	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	margin: auto;
	}
}
